body {
	margin: 0;
	float: left;
}
#root {
	float: left;
	width: 100vw;
}
.cardContainer {
	width: 100%;
	float: left;
	overflow-y: auto;
	background-color: #3a3a3a;
    min-height: 100vh;
}
.moviecard {
	padding: 20px;
	float: left;
	width: 16.6666666667%;
	max-height: 317px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.moviecardImg {
	width: 100%;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    transition: transform .3s, box-shadow .3s;
    min-width: 192px;
    min-height: 248px;
}
.moviecardImg:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}
.moviecardPlayBtn {
	position: absolute;
	/*width: 30%;*/
	cursor: pointer;
	margin-top: -10px;
	transition: transform .3s
}
.moviecardName {
	color: #fff;
	font-size: 14px;
	width: 100%;
    margin-top: 10px;
    transition: transform .3s
}
.moviecardImg:hover + .moviecardPlayBtn, .moviecardImg:hover ~ .moviecardName, .moviecardImg:hover ~ .moviecardRelease, .moviecardImg:hover ~ .moviecardLikes, .moviecardImg:hover ~ .moviecardCount {
	transform: translateY(-5px);
}
.moviecardRelease {
	position: absolute;
	color: #fff;
	font-size: 10px;
	background: green;
	width: 35px;
	height: 35px;
	border-radius: 50%;
    top: 25px;
    right: 25px;
	background: #3cb395;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform .3s;
    line-height: 1.2;
}

.moviecardLikes, .moviecardCount {
	color: #fff;
	position: absolute;
	right: 25px;
	font-size: 15px;
	transition: transform .3s
}
.moviecardLikes {
	bottom: 80px;
}
.moviecardLikes img {
	float: left;
	margin-right: 5px;
    transform: translateY(-4px);
}
.moviecardCount {
	bottom: 60px;
}
#movieScreen {
	width: 100%;
	height: 50px;
	border: 1px solid white;
	float: left;
}
.header {
    width: 100%;
    float: left;
    background-color: #252525;
    padding: 20px 30px;
}
.dropbtn {
    background-color: transparent;
    color: #3cb395;
    padding: 8px 40px 8px 20px;
    font-size: 15px;
    border: none;
    border: 2px solid #3cb395;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
}
.coloured_btn {
	background-color: #3cb395;
	color: #fff;
	font-size: 15px;
	padding: 8px 25px;
	border-radius: 10px;
	border: 2px solid #3cb395;
	outline: none;
	margin: 0 5px;
	cursor: pointer;
}
.normal_btn {
	background-color: #3a3a3a;
	color: #fff;
	font-size: 15px;
	padding: 8px 25px;
	border-radius: 10px;
	border: 2px solid #3a3a3a;
	outline: none;
	margin: 0 5px;
	cursor: pointer;
}
.header_left, .header_right {
	width: 50%;
	float: left;
}
.header_right {
	display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(58, 58, 58, 0.9);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-left: 15px;
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown-content a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.hide {
	display: none;
}
.show {
	display: flex;
}
.movieScreenback {
	position: fixed;
	width: 100vw;
	height: 100vh;
	/*background-color: rgba(0, 0, 0, 0.6);*/
	z-index: 99;
	float: left;
	overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.blurEffect {
	position: fixed;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(25px);
    /* background-color: rgba(0, 0, 0, 0.6); */
    z-index: 9;
    float: left;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
.movieScreenContainer {
	width: 60%;
	background-color: rgb(0, 0, 0, 0.9);
	float: left;
	height: 75%;
}
.movieDetailsContainer {
	width: 40%;
	margin-left: 30px;
	background-color: rgb(0, 0, 0, 0.3);
	float: left;
	height: 75%;
}
.cross {
	height: 30px;
	float: left;
	width: 100%;
}
.cross span {
	float: right;
	font-size: 30px;
	margin-right: 30px;
    color: #fff;
    cursor: pointer;
}
#movieScreen {
	width: 100%;
	float: left;
	height: 100%;
    border: none;
}
.movieDText, .movieDRating {
	width: 100%;
}
.movieDText {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.movieDText span {
	color: #fff;
    margin: 10px 20px;
    padding: 0px 0;
    float: left;
    font-size: 13px;
}
#movieDname {
	font-size: 20px;
}
.movieDText .movieDgenre {
	border: 1px solid white;
    padding: 5px;
    font-size: 11px;
    border-radius: 20px;
    line-height: 1;
}
.div1, .div2, .div1 span, .div1 img, .div2 span, .div2 img {
	float: left;
	margin: 0;
    font-size: 15px;
}
.div1 img, .div2 img {
	width: 30px;
	margin-right: 20px;
}
.div2 {
	margin-left: 50px;
	margin-top: 10px;
}
.div1 {
	margin-left: 20px;
	margin-top: 10px;
}
.movieDText #movieDvotes, .movieDText #movieDreleaseYear {
	font-size: 11px;
}

/************* Media Queries ***************/
@media screen and (max-width: 1200px) {
	.moviecard {
		width: 20%;
	}
}

@media screen and (max-width: 992px) {
	.moviecard {
		width: 25%;
	}
}

@media screen and (max-width: 767px) {
	.moviecard {
		width: 33.3333333333%;
	}
	.moviecardImg {
	    min-width: 0px;
	    min-height: 0px;
	}
	.movieScreenContainer {
		width: 100%;
		background-color: rgb(0, 0, 0, 0.9);
		float: left;
		height: 40%;
	}
	.movieDetailsContainer {
		width: 100%;
		height: 60%;
		background-color: rgb(0, 0, 0, 0.4);
		float: left;
	}
}  

@media screen and (max-width: 550px) {
	.moviecard {
		width: 50%;
	}
}